[Unit]
Description=SoftEther VPN Server
ConditionPathExists=/usr/local/bin/vpnserver
After=network.target
 
[Service]
Type=forking
EnvironmentFile=/usr/local/bin/vpnserver
ExecStart=/usr/local/bin/vpnserver start
ExecStop=/usr/local/bin/vpnserver stop
KillMode=process
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
